RewriteEngine On
RewriteBase /MVC_PiePHP/
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} !^/Applications/MAMP/Sites/piePHP/(webroot/.+|index.php|robots.txt)$
RewriteCond %{REQUEST_URI} !^/Applications/MAMP/Sites/piePHP/(Core/.+|index.php|robots.txt)$
RewriteRule ^ src/View/User/index.php [QSA,L]