@font-face {
  font-family: "cocogoose";
  src: url("font/cocogoose.ttf");
}
@font-face {
  font-family: "bebas";
  src: url("font/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "RoundedBold";
  src: url("font/Rounded-Bold.otf") format "truetype";
}
@font-face {
  font-family: "Rounded-Light";
  src: url("/font/Rounded-Light.otf");
}
a {
  text-decoration: none;
}

body {
  margin: 0px;
  background: linear-gradient(#151515, #0c0c0c);
}
body .view_contents {
  display: flex;
}
body .view_contents .view {
  padding: 20px;
}
body .menu-contents {
  width: 100%;
}
body nav {
  font-family: bebas;
  background-color: rgba(0, 0, 0, 0.749);
  margin: 0px;
  height: 40px;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
}
body nav .button {
  font-family: Montserrat;
  color: white;
  border: solid 1px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 8px;
  float: right;
}
body nav a {
  text-decoration: none;
  color: #ffcc00;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 30px;
}
body nav .hello {
  color: white;
  font-family: Montserrat;
  font-size: 12px;
  position: relative;
  bottom: 5px;
}
body .side_bar {
  border: solid;
  height: 700px;
  width: 180px;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}
body .side_bar .logo {
  margin: 0px;
  font-family: Montserrat;
  font-size: 25px;
  color: white;
}
body .side_bar a {
  text-decoration: none;
}
body .side_bar .search_section {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px;
  width: 135px;
  height: 20px;
  transition-duration: 1s;
}
body .side_bar .search_section:hover {
  background-color: #414141;
}
body .side_bar .search_section input {
  background-color: transparent;
  border: none;
  width: 90px;
  position: relative;
  bottom: 2px;
}
body .side_bar .search_section i {
  font-size: 20px;
  color: #acacac;
  position: relative;
  left: 10px;
}
body .side_bar .search_section ::placeholder {
  color: #a5a5a5;
  position: relative;
  font-family: Montserrat;
}
body .side_bar .search_section button {
  background-color: transparent;
  border: none;
}
body .side_bar .sidebar_link {
  background-color: transparent;
  color: #acacac;
  border-radius: 5px;
  padding: 10px;
  width: 130px;
  height: 20px;
  font-family: Montserrat;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
  transition-duration: 1s;
}
body .side_bar .sidebar_link:hover {
  background-color: #414141;
}
body .side_bar .sidebar_link i {
  float: right;
  color: #acacac;
}
body .side_bar .historique_section {
  margin-top: 30px;
  border-top: solid white 1px;
  padding-top: 20px;
  height: 200px;
}
body .side_bar .historique_section h5 {
  color: #acacac;
  font-size: 10px;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 600;
  margin: 0px;
  padding-left: 10px;
}
body .side_bar .historique_section .last_movie {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
body .side_bar .historique_section .last_movie .last_movie-affiche {
  height: 30px;
  width: 30px;
  border: solid #acacac 1px;
  margin-right: 10px;
}
body .side_bar .historique_section .last_movie .last_movie-title {
  color: #acacac;
  font-size: 10px;
  font-family: Montserrat;
}
body .side_bar .historique_section .plus {
  color: white;
  font-size: 6px;
  float: right;
  font-family: Montserrat;
  margin-top: 20px;
}
body .side_bar .heart_section {
  margin-top: 0px;
  height: 200px;
}
body .side_bar .heart_section h5 {
  color: #acacac;
  font-size: 10px;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 600;
  margin: 0px;
  padding-left: 10px;
}
body .side_bar .heart_section .heart_movie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
body .side_bar .heart_section .heart_movie .heart_movie-affiche {
  height: 30px;
  width: 30px;
  border: solid #acacac 1px;
  margin-right: 10px;
}
body .side_bar .heart_section .heart_movie .heart_movie-title {
  color: #acacac;
  font-family: Montserrat;
  float: right;
}
body .side_bar .heart_section .plus {
  color: white;
  font-size: 6px;
  float: right;
  font-family: Montserrat;
  margin-top: 20px;
}
body .side_bar .ajout_film {
  display: flex;
}
body .side_bar .ajout_film .add {
  background: linear-gradient(#fc4aff, #4037df);
  height: 30px;
  width: 30px;
  color: white;
}
body .side_bar .ajout_film .add i {
  position: relative;
  left: 8px;
  top: 6px;
}
body .side_bar .ajout_film p {
  color: white;
  font-family: Montserrat;
  font-size: 10px;
  margin-left: 10px;
}
body .form_login {
  border: solid 1px white;
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #1c1c1c;
  font-family: Montserrat;
  color: white;
}
body .form_login p {
  font-size: 10px;
  text-align: center;
}
body .form_login h2 {
  font-family: Montserrat;
  color: white;
  text-align: center;
}
body .form_login input[type=submit] {
  background-color: transparent;
  color: white;
  border: solid 1px white;
  font-family: Montserrat;
  margin: auto;
}
body .form_login .p2 {
  color: #727272;
  font-size: 10px;
  padding: 10px;
  border-top: 1px solid white;
}
body .form_login a {
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  text-align: center;
  font-size: 17px;
  width: 300px;
}

.movies_contener {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  overflow: scroll;
}
.movies_contener .movie {
  width: 200px;
  margin: 10px;
}
.movies_contener .movie .affiche {
  height: 120px;
  background-color: white;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.movies_contener .movie .title_eval {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movies_contener .movie .title_eval .title {
  color: white;
  font-family: Montserrat;
  font-size: 12px;
}
.movies_contener .movie .title_eval .evaluation i {
  font-size: 8px;
  color: #ffcc00;
}

.ajout_film {
  cursor: pointer;
}

.fond_add {
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.568);
  position: fixed;
  left: 30px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popup_add {
  display: none;
  z-index: 5;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  left: 10%;
  top: 15%;
  width: 600px;
  height: 440px;
  overflow: unset;
}
.popup_add .popin-dismiss {
  float: right;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.popup_add .mini_bg_add {
  margin-top: 40px;
  height: 160px;
  background: linear-gradient(to bottom, transparent, #121212), url("https://image.freepik.com/free-vector/colorful-abstract-wallpaper-design_23-2148467625.jpg");
  background-size: cover;
}
.popup_add .mini_affiche_add {
  background: whitesmoke;
  background-size: contain;
  height: 220px;
  width: 160px;
  position: relative;
  bottom: 50px;
  left: 20px;
  border: solid 2px white;
}
.popup_add .mini_title {
  font-family: Montserrat;
  position: relative;
  top: 110px;
  left: 200px;
  font-size: 20px;
  font-size: 700;
  color: white;
  width: 140px;
  background-color: transparent;
  border: none;
}
.popup_add .mini_genre {
  font-family: Montserrat;
  position: relative;
  top: 100px;
  left: 205px;
  width: max-content;
  font-size: 10px;
  font-size: 700;
  color: white;
}
.popup_add .mini_resum {
  border: solid #e8e8e8 1px;
  background-color: #e8e8e8;
  height: 150px;
  width: 370px;
  position: relative;
  left: 200px;
  bottom: 210px;
}
.popup_add .genres {
  position: relative;
  bottom: 390px;
  right: 180px;
}
.popup_add .pictures {
  position: relative;
  bottom: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 400px;
}
.popup_add .pictures p {
  margin: 0px;
  font-size: 10px;
  font-family: Montserrat;
}
.popup_add .pictures input {
  float: right;
  width: 300px;
}
.popup_add .boutons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  position: relative;
  left: 140px;
  bottom: 15px;
}
.popup_add .boutons .ok_add {
  border: none;
  background: transparent;
  position: relative;
  left: 380px;
  bottom: 200px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 10px;
}
.popup_add .boutons .delete {
  border: none;
  background: transparent;
  position: relative;
  left: 40px;
  bottom: 180px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 10px;
}

/*# sourceMappingURL=home.css.map */
