@font-face{
    font-family: "cocogoose";
    src: url("font/cocogoose.ttf");
}

@font-face{
    font-family: "bebas";
    src: url("font/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "RoundedBold";
    src: url("font/Rounded-Bold.otf") format ('truetype');
}

@font-face {
   font-family: "Rounded-Light";
   src: url("/font/Rounded-Light.otf");
}

$yellow:rgb(255, 204, 0);

a{
    text-decoration: none;
}


body{

    margin: 0px;
    background: linear-gradient(#151515, #0c0c0c);

    .view_contents{
        display: flex;

        .view{
            padding: 20px;
            
        }
    }

    .menu-contents{
        width: 100%;
    }


    ///////////////////////////////NAV
    nav{
        font-family: bebas;
        background-color: rgba(0, 0, 0, 0.749);
        margin: 0px;
        height: 40px;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        position: -webkit-sticky;
        position: sticky;

        .button{
            font-family: Montserrat;
            color:white;
            border: solid 1px;
            line-height: 30px;
            height: 30px;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 8px;
            float: right;
        }

        a{
            text-decoration: none;
            color: $yellow;
            font-family: Montserrat;
            font-size: 12px;
            line-height: 30px;
        }

        .hello{
            color: white;
            font-family: Montserrat;
            font-size: 12px;
            position: relative;
            bottom: 5px;
        }

        
    }

    .side_bar{
        border: solid;
        height: 700px;
        width: 180px;
        background-color: black;
        padding-left: 10px;
        padding-right: 10px;

        .logo{
            margin: 0px;
            font-family: Montserrat;
            font-size: 25px;
            color: white;
        }

        a{
            text-decoration: none;
        }

        .search_section{
            background-color: transparent;
            color: white;
            border-radius: 5px;
            margin-bottom: 15px;
            margin-top: 15px;
            padding: 10px;
            width: 135px;
            height: 20px;
            transition-duration: 1s;

            &:hover{
                background-color: rgb(65, 65, 65);
            }

            input{
                background-color: transparent;
                border: none;
                width: 90px;
                position: relative;
                bottom: 2px;
            }

            i{
                font-size: 20px;
                color: rgb(172, 172, 172);
                position: relative;
                left: 10px;
            }
            ::placeholder{
                color: rgb(165, 165, 165);
                position: relative;
                font-family: Montserrat;
                
            }

            button{
                background-color: transparent;
                border: none;
            }

           
        }

        .sidebar_link{
            background-color: transparent;
            color: rgb(172, 172, 172);
            border-radius: 5px;
            padding: 10px;
            width: 130px;
            height: 20px;
            font-family: Montserrat;
            margin-top: 15px;
            margin-bottom: 15px;
            padding-right: 15px;
            transition-duration: 1s;

            &:hover{
                background-color: rgb(65, 65, 65);
            }

            i{
                float: right;
                color: rgb(172, 172, 172);
            }

           
        }

        .historique_section{
            margin-top: 30px;
            border-top: solid white 1px;
            padding-top: 20px;
            height: 200px;

            h5{
                color: rgb(172, 172, 172);
                font-size: 10px;
                font-family: Montserrat;
                font-size: 8px;
                font-weight: 600;
                margin: 0px;
                padding-left: 10px;
            }

            .last_movie{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;


                .last_movie-affiche{
                    height: 30px;
                    width: 30px;
                    border: solid rgb(172, 172, 172) 1px;
                    margin-right: 10px;
                }

                .last_movie-title{
                    color: rgb(172, 172, 172);
                    font-family: Montserrat;
                    float: right;
                }
            }

            .plus{
                color:white;
                font-size: 6px;
                float: right;
                font-family: Montserrat;
                margin-top: 20px;
            }
        }


        .heart_section{
            margin-top: 0px;
           
            height: 200px;

            h5{
                color: rgb(172, 172, 172);
                font-size: 10px;
                font-family: Montserrat;
                font-size: 8px;
                font-weight: 600;
                margin: 0px;
                padding-left: 10px;
            }

            .heart_movie{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;


                .heart_movie-affiche{
                    height: 30px;
                    width: 30px;
                    border: solid rgb(172, 172, 172) 1px;
                    margin-right: 10px;
                }

                .heart_movie-title{
                    color: rgb(172, 172, 172);
                    font-family: Montserrat;
                    float: right;
                }
            }

            .plus{
                color:white;
                font-size: 6px;
                float: right;
                font-family: Montserrat;
                margin-top: 20px;
            }
        }

        .ajout_film{
            display: flex;
            .add{
                background: linear-gradient(#fc4aff, #4037df);
                height: 30px;
                width: 30px;

                color: white;
                i{
                    position: relative;
                    left: 8px;
                    top: 6px;
                }
            }

            p{
                color: white;
                font-family: Montserrat;
                font-size: 10px;
                margin-left: 10px;
            }
        }

    }




    ////////////////LOGIN
    .form_login{
        border: solid 1px white;
        width: 300px;
        margin: auto;
        padding: 20px;
        background-color: rgb(28, 28, 28);
        font-family: Montserrat;
        
        color: white;

        p{
            font-size: 10px;
            text-align: center;
        }

        h2{
            font-family: Montserrat;
            color: white;
            text-align: center;
        }

        input[type="submit"]{
            //border-radius: 50px;
            background-color: transparent;
            color: white;
            border: solid 1px white;
            font-family: Montserrat;
            margin: auto;

        }

        .p2{
            color: #727272;
            font-size: 10px;
            padding: 10px;
            border-top: 1px solid white;
        }
        a{
            text-decoration: none;
            color: white;
            font-family: Montserrat;
            text-align: center;
            font-size: 17px;
            width: 300px;
            
        }

    }

}


/////HOME
.movies_contener{

    display: flex;
    flex-wrap: wrap;
    height: 500px;
    //border: solid white;
    overflow: scroll;
    .movie{
        width: 200px;
        margin: 10px;
        .affiche{
            height: 120px;
            background-color: white;
            width: 200px;
            background-size: cover;
            background-repeat: no-repeat;
    
        }
    
        .title_eval{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
                color: white;
                font-family: Montserrat;
                font-size: 12px;
            }
        
            .evaluation{
                i{
                    font-size: 8px;
                    color:$yellow;
                }
            }
        }
    
    }
}


////////// ADD MOVIE
.ajout_film{
    cursor: pointer;
}
.fond_add{
    display: none;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.568);
    position: fixed; 
    left: 30px;
    width: 100%;
    height: 100%; 
    overflow: auto;
}
    
.popup_add{
    display: none;
    z-index: 5;
    background-color:white;
    border-radius:5px;
    position: fixed; 
    left: 10%;
    top: 15%;
    width: 600px;
    height: 440px; 
    overflow: unset;


    .popin-dismiss{
        float: right;
        font-size: 30px;
        margin-right: 10px;
        cursor: pointer;

    }
    .mini_bg_add{
        margin-top: 40px;
        height: 160px;
        background: linear-gradient(to bottom, transparent, rgb(18, 18, 18)),
        url('https://image.freepik.com/free-vector/colorful-abstract-wallpaper-design_23-2148467625.jpg');
        background-size: cover;
    }

    .mini_affiche_add{
        //background: url('https://fr.web.img6.acsta.net/pictures/20/02/12/13/58/3992754.jpg');
        background: whitesmoke;
        background-size: contain;
        height: 220px;
        width: 160px;
        position: relative;
        bottom: 50px;
        left: 20px;
        border: solid 2px white;
    }

    .mini_title{
        font-family: Montserrat;
        position: relative;
        top: 110px;
        left: 200px;
        font-size: 20px;
        font-size: 700;
        color: white;
        width: 140px;
        background-color: transparent;
        border: none;
    }

    .mini_genre{
        font-family: Montserrat;
        position: relative;
        top: 100px;
        left: 205px;
        width: max-content;
        font-size: 10px;
        font-size: 700;
        color: white;
    }

    .mini_resum{
        border: solid rgb(232, 232, 232) 1px;
        background-color: rgb(232, 232, 232);
        height: 150px;
        width: 370px;
        position: relative;
        left: 200px;
        bottom: 210px;
    }

    .genres{
        position: relative;
        bottom: 390px;
        right: 180px;
    }

    .pictures{
        position: relative;
        bottom: 200px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 400px;
        p{
            margin: 0px;
            font-size: 10px;
            font-family: Montserrat;
        }

        input{
            float: right;
            width: 300px;
        }
    }

    .boutons{
        display:flex; 
        justify-content:space-between;
        width: 200px;
        position: relative;
        left: 140px;
        bottom: 15px;
        .ok_add{
            border: none;
            background: transparent;
            position: relative;
            left: 380px;
            bottom: 200px;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 10px;
        }
    
        .delete{
            border: none;
            background: transparent;
            position: relative;
            left: 40px;
            bottom: 180px;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 10px;
        }
    }
  
}