@font-face {
  font-family: "cocogoose";
  src: url("font/cocogoose.ttf");
}
@font-face {
  font-family: "bebas";
  src: url("font/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "RoundedBold";
  src: url("font/Rounded-Bold.otf") format "truetype";
}
@font-face {
  font-family: "Rounded-Light";
  src: url("/font/Rounded-Light.otf");
}
.profil {
  width: 100%;
}
.profil .profil_background {
  position: relative;
  bottom: 20px;
  right: 20px;
  width: 105%;
  height: 130px;
}
.profil .name {
  color: white;
  font-family: Montserrat;
  font-size: 40px;
  position: relative;
  bottom: 20px;
}
.profil .form_profil {
  width: 100%;
  color: white;
  font-family: Montserrat;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.profil .form_profil .profil_picture {
  height: 170px;
  width: 150px;
  border-radius: 20px;
  background-image: url("../assets/blank.png");
  background-size: cover;
  background-position: 50%;
}
.profil .form_profil .confirm {
  background-color: yellowgreen;
  padding: 7px;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 8px;
  position: relative;
  left: 200px;
  top: 10px;
}
.profil .form_profil .section_form {
  width: 70%;
  position: relative;
}
.profil .form_profil .section_form .password {
  border-top: solid 1px white;
  width: 320px;
  margin-top: 40px;
}
.profil .form_profil .section_form .password p {
  line-height: 20px;
}
.profil .form_profil .section_form .password input {
  float: right;
  border: none;
  height: 22px;
  width: 150px;
}
.profil .form_password {
  color: white;
  font-family: Montserrat;
  font-size: 12px;
}
.profil .form_password .password {
  border-top: solid 1px white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.profil .form_password .password p {
  line-height: 20px;
}
.profil .form_password .confirm {
  background-color: yellowgreen;
  float: right;
  padding: 7px;
  border-radius: 20px;
  font-size: 8px;
  color: white;
  border: none;
  width: max-content;
}
.profil .form_delete {
  color: white;
  font-family: Montserrat;
  font-size: 12px;
}
.profil .form_delete .password {
  border-top: solid 1px white;
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profil .form_delete .password p {
  line-height: 20px;
}
.profil .form_delete .password input {
  border: none;
  height: 22px;
  width: 150px;
}
.profil .form_delete .password .delete {
  float: right;
}
.profil .identity {
  width: 320px;
}
.profil .identity p {
  line-height: 20px;
}
.profil .identity input {
  float: right;
  border: none;
  height: 22px;
  width: 150px;
}
.profil .delete {
  background-color: #cd3232;
  padding: 7px;
  border-radius: 20px;
  color: white;
  border: none;
  float: right;
  font-size: 8px;
}

.profil_histo_section {
  height: 500px;
  display: flex;
}
.profil_histo_section .profil_section {
  width: 50%;
}
.profil_histo_section .profil_section .identity {
  display: flex;
  font-family: Montserrat;
  color: white;
}
.profil_histo_section .profil_section .identity .name {
  margin: 0px;
  margin-left: 10px;
  font-size: 30px;
}
.profil_histo_section .profil_section .identity .date {
  margin-left: 10px;
  font-size: 12px;
}
.profil_histo_section .profil_section .identity .nbr_movie {
  margin-left: 10px;
  font-size: 12px;
}
.profil_histo_section .profil_section .identity .button {
  background-color: transparent;
  margin-left: 10px;
  color: #acacac;
  border-radius: 5px;
  padding: 10px;
  width: 130px;
  height: 15px;
  font-family: Montserrat;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
  transition-duration: 1s;
}
.profil_histo_section .profil_section .identity .button:hover {
  background-color: #414141;
}
.profil_histo_section .profil_section .identity .button i {
  float: right;
  color: #acacac;
}
.profil_histo_section .profil_section .identity .profil_picture {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-image: url("../assets/blank.png");
  background-size: cover;
}
.profil_histo_section .profil_section .titre {
  color: white;
  font-family: Montserrat;
  margin-top: 40px;
}
.profil_histo_section .profil_section .derniers_films {
  height: 250px;
  margin-top: 20px;
  overflow: scroll;
  border-top: solid white 1px;
}
.profil_histo_section .profil_section .derniers_films .movie {
  margin: 10px;
  display: flex;
}
.profil_histo_section .profil_section .derniers_films .movie .affiche {
  height: 100px;
  background-color: white;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}
.profil_histo_section .profil_section .derniers_films .movie .title_eval {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profil_histo_section .profil_section .derniers_films .movie .title_eval .title {
  color: white;
  font-family: Montserrat;
  font-size: 15px;
  margin-left: 20px;
}
.profil_histo_section .profil_section .derniers_films .movie .title_eval .evaluation i {
  font-size: 8px;
}
.profil_histo_section .histo_section {
  width: 50%;
  padding-left: 70px;
}
.profil_histo_section .histo_section .titre {
  color: white;
  font-family: Montserrat;
}
.profil_histo_section .histo_section .histo {
  overflow: scroll;
  height: 450px;
}
.profil_histo_section .histo_section .histo .last_movie {
  display: flex;
  align-items: center;
  margin-top: 10px;
  transition-duration: 1s;
}
.profil_histo_section .histo_section .histo .last_movie:hover {
  background-color: rgba(125, 125, 125, 0.331);
}
.profil_histo_section .histo_section .histo .last_movie .last_movie-affiche {
  height: 50px;
  width: 50px;
  border: solid #acacac 1px;
  margin-right: 10px;
}
.profil_histo_section .histo_section .histo .last_movie .text {
  width: 100%;
}
.profil_histo_section .histo_section .histo .last_movie .text .last_movie-title {
  color: white;
  font-size: 14px;
  font-family: Montserrat;
}
.profil_histo_section .histo_section .histo .last_movie .text .date {
  color: #acacac;
  font-size: 10px;
  font-family: Montserrat;
  margin-top: 10px;
}
.profil_histo_section .histo_section .histo .last_movie .text .delete {
  color: red;
  font-size: 10px;
  font-family: Montserrat;
  float: right;
}

/*# sourceMappingURL=profil.css.map */
