@font-face{
    font-family: "cocogoose";
    src: url("font/cocogoose.ttf");
}

@font-face{
    font-family: "bebas";
    src: url("font/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "RoundedBold";
    src: url("font/Rounded-Bold.otf") format ('truetype');
}

@font-face {
   font-family: "Rounded-Light";
   src: url("/font/Rounded-Light.otf");
}

.profil{

    width: 100%;

    .profil_background{
        position: relative;
        bottom: 20px;
        right: 20px;
        width: 105%;
        height: 130px;
        //background: linear-gradient(#fc4aff, #4037df);
    }

    .name{
        color: white;
        font-family: Montserrat;
        font-size: 40px;
        position: relative;
        bottom: 20px;
    }

    .form_profil{
        width: 100%;

        color: white;
        font-family: Montserrat;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        
        .profil_picture{
            height: 170px;
            width: 150px;
            border-radius: 20px;
            background-image: url('../assets/blank.png');
            background-size: cover;
            background-position: 50%;
      
        }

        .confirm{
            background-color: yellowgreen;
            padding: 7px;
            border-radius: 20px;
            color: white;
            border: none;
            font-size: 8px;
            position: relative;
            left: 200px;
            top: 10px;
        }

        .section_form{


            width: 70%;
            position: relative;
            //border: solid white;

            .confirm{
                //float: right;
                //po
            }

            .password{
                border-top: solid 1px white;
                width: 320px;
                margin-top: 40px;
                p{
                    line-height: 20px;
                }
    
                input{
                    float: right;
                    border: none;
                    height: 22px;
                    width: 150px;
                }
                
            }
    
        }        

    }

    .form_password{
        color: white;
        font-family: Montserrat;
        font-size: 12px;

        .password{
            border-top: solid 1px white;
            width: 100%;
            display: flex;
            justify-content: space-between;
          
            margin-top: 40px;

            p{
                line-height: 20px;
            }

           
            
        }  
        
        
        .confirm{
            background-color: yellowgreen;
            float: right;
            padding: 7px;
            border-radius: 20px;
            font-size: 8px;
            color: white;
            border: none;
            //margin-right: 20px;
            width: max-content;
        }

        

      
    }

    .form_delete{

        color: white;
        font-family: Montserrat;
        font-size: 12px;
        .password{
            border-top: solid 1px white;
            width: 100%;
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            p{
                line-height: 20px;
            }

            input{
                //float: right;
                border: none;
                height: 22px;
                width: 150px;
            }

            .delete{
                float: right;
            }
            
        }
      
    }

    .identity{
        width: 320px;
        p{
            line-height: 20px;
        }

        input{
            float: right;
            border: none;
            height: 22px;
            width: 150px;
        }
        
    }



   

    .delete{
        background-color: rgb(205, 50, 50);
        padding: 7px;
        border-radius: 20px;
        color: white;
        border: none;
        float: right;
        font-size: 8px;
    }
    
}


.profil_histo_section{
    height: 500px;
    display: flex;

    .profil_section{
        width: 50%;

        .identity{
            display: flex;
            font-family: Montserrat;
            color: white;
                
            .name{
                margin: 0px;
                margin-left: 10px;
                font-size: 30px;
            }

            .date{
                margin-left: 10px;
                font-size: 12px;
            }

            .nbr_movie{
                margin-left: 10px;
                font-size: 12px;
            }

            .button{
                background-color: transparent;
                margin-left: 10px;
                color: rgb(172, 172, 172);
                border-radius: 5px;
                padding: 10px;
                width: 130px;
                height: 15px;
                font-family: Montserrat;
                font-size: 12px;
                margin-top: 15px;
                margin-bottom: 15px;
                padding-right: 15px;
                transition-duration: 1s;
    
                &:hover{
                    background-color: rgb(65, 65, 65);
                }
    
                i{
                    float: right;
                    color: rgb(172, 172, 172);
                }
            }
            
            .profil_picture{
                width: 150px;
                height: 150px;
                //border: solid white;
                border-radius: 20px;
                background-image: url('../assets/blank.png');
                background-size: cover;
            }
        }

        .titre{
            color: white;
            font-family: Montserrat;
            margin-top: 40px;
        }
        .derniers_films{
            height: 250px;
            margin-top: 20px;
            overflow: scroll;
            border-top: solid white 1px;

            .movie{
                //width: 200px;
                margin: 10px;
                display: flex;

                .affiche{
                    height: 100px;
                    background-color: white;
                    
                    width: 150px;
                    background-size: cover;
                    background-repeat: no-repeat;
            
                }
            
                .title_eval{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .title{
                        color: white;
                        font-family: Montserrat;
                        font-size: 15px;
                        margin-left: 20px;
                    }
                
                    .evaluation{
                        i{
                            font-size: 8px;
                            //color:$yellow;
                        }
                    }
                }
            
            }
            
        }
    }

    .histo_section{
        //border: solid white;
        width: 50%;
        padding-left: 70px;

        .titre{
            color: white;
            font-family: Montserrat;
            //margin-top: 40px;
        }

        .histo{

            overflow: scroll;
            height: 450px;

            .last_movie{
                display: flex;
                align-items: center;
                margin-top: 10px;
             
                transition-duration: 1s;
                &:hover{
                    background-color: rgba(125, 125, 125, 0.331);
                }

                .last_movie-affiche{
                    height: 50px;
                    width: 50px;
                    border: solid rgb(172, 172, 172) 1px;
                    margin-right: 10px;
                }

                .text{
                    width: 100%;

                  
        
                    .last_movie-title{
                        color: white;
                        font-size: 14px;
                        font-family: Montserrat;
                        //float: right;
                    }
    
                    .date{
                        color: rgb(172, 172, 172);
                        font-size: 10px;
                        font-family: Montserrat;
                        //float: right;
                        margin-top: 10px;
                    }
    
                    .delete{
                        color: red;
                        font-size: 10px;
                        font-family: Montserrat;
                        float: right;
                    }
                }
            }
        }
    }
}